<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
      <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
      <add key="AutoMapper" value="https://www.myget.org/F/automapperdev/api/v3/index.json" />
      <add key="System.Activities" value="https://www.myget.org/F/uipath-dev/api/v3/index.json" />
    </packageSources>
</configuration>